* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: rgba(227, 53, 13, 0.75);
  --blue1: #6db3dd;
  --blue2: #537c96;
  --os: "Odibee Sans", cursive;
  --rs: "Roboto Slab", serif;
  font-size: 12px;
}

body {
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
  visibility: hidden;
}
.dot {
  height: 2.1rem;
  width: 2.1rem;
  background-color: var(--blue2);
  border-radius: 50%;
  margin-right: 25px;
}
.dot:hover {
  background-color: var(--blue1);
}

.crossout {
  text-decoration: line-through;
  opacity: 0.5;
}
.scroll-y {
  overflow-y: scroll;
}

.timer-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.timer {
  color: var(--blue1);
  font-family: var(--os);
  font-size: 16rem;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.icon {
  color: var(--blue2);
  font-size: 2.1rem;
  cursor: pointer;
  width: 10px;
  height: 10px;
}
.icon:hover {
  color: var(--blue1);
}

.tasks-title {
  font-family: var(--rs);
  color: var(--blue2);
  width: 50%;
  height: 20%;
  left: 0;
  top: -50px;
  position: relative;
  letter-spacing: 1.5px;
  pointer-events: all;
}
.tasks-list {
  min-width: 50%;
  max-width: 70%;
  height: auto;
  max-height: 70%;
  list-style: none;
  border-width: 5px;
  border-style: solid;
  border-color: var(--blue2);
  font-family: var(--rs);
  pointer-events: all;
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tasks-list li:first-child {
  margin-top: 5%;
}
.tasks-list li:last-child {
  margin-bottom: 5%;
  margin-right: 5%;
}
.task-wrapper {
  margin-left: 5%;
  color: var(--blue2);
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1.5%;
  text-align: left;
}

.task-wrapper p {
  width: 70%;
}
.task-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  font-size: 16px;
  align-items: center;
}
.task-input label {
  width: 20%;
  font-weight: bold;
}
.task-input input[type="text"] {
  width: 70%;
  height: 70%;
  opacity: 0.75;
  font-size: 1.5rem;
}
.task-input input[type="submit"] {
  padding: 0.25rem;
  width: 100px;
  cursor: pointer;
  color: var(--blue2);
  font-weight: bold;
  font-family: inherit;
}

.task-input input[type="submit"]:hover {
  font-weight: bolder;
}

.nav-bar {
  position: absolute;
  height: 100vh;
  width: 20vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
}
.spotify-embed {
  width: 300px;
  height: 80px;
  border-radius: 10px;
  opacity: 0.75;
  border: 5px solid var(--blue2);
}
.spotify-embed:hover {
  opacity: 1;
}
.spotify-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spotify-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  margin-right: 5%;
  margin-left: 5%;
}
.spotify-form-text {
  width: 100%;
  height: 20%;
  font-size: 1rem;
  font-family: var(--rs);
  resize: none;
}
@media screen and (max-width: 500px) {
  :root {
    font-size: 12px;
  }
  .task-input label {
    font-size: 12px;
  }
  .timer-wrapper {
    gap: 1.25%;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .spotify-container {
    top: 0;
    bottom: 100%;
  }
}
